<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoE72MgTU__2i971E3RNIbDJXhWad1XNg</string>
	<key>GCM_SENDER_ID</key>
	<string>261573591761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sudoku.game.studio</string>
	<key>PROJECT_ID</key>
	<string>sudoku-e6278</string>
	<key>STORAGE_BUCKET</key>
	<string>sudoku-e6278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261573591761:ios:24a5746c6b67c6535cbbf0</string>
</dict>
</plist>